/* Fonts */
/* Fruktur font */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&family=Stalemate&display=swap');

/* Reset Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* main clrs */
    --main-clr: orange;

    /* Basic clrs */
    --color-bsc-b: black;
    --color-bsc-w: white;
}

body {
    height: 100%;
    background-color: var(--main-clr);
}


/* Header */
header {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
}

.header-title {
    width: 100%;
    height: 150px;
    background-image: url('../../imgs/photoshop/logo_Title.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Navigation -END */
nav {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 2vh;
}

.nav-item-list {
    /* sticky */
    bottom: 0.2rem;
    position: sticky;

    font-family: 'Fruktur';
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 2px;
    text-decoration: none;
    color: var(--main-clr);
}

/* Small Screen nav */
@media (width < 500px) {
    .nav-item-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--color-bsc-w);
    }
}

/* Large Screen nav */
@media (width > 500px) {
    .nav-item-list {
        gap: 2rem;
        background-color: var(--color-bsc-b);
    }
}

/* Footer */
footer {
    text-align: center;
    bottom: 0;
    position: sticky;
    background-color: var(--color-bsc-b);
    color: var(--color-bsc-w);
    padding: 5px;
}

/* Screen Small */
@media (width < 500px) {
    header {
        display: flex;
        flex-direction: column;
    }
}
